<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Jdbc.studentMapper">
<select id="getStudent" parameterType="String" resultType="com.test.demo.Model.Student">
    select * from student where name=#{name}
</select>
</mapper>